{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/read.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{{account.profile_picture.url}}" class="profile-picture">
        <h2 class="profile-name pt-3 mb-0">{{account.get_name}}</h2>
        <div class="board mb-0">{{account.get_board_display}} Board {{account.graduation_year}}</div>
        <div class="bio">{{account.bio|linebreaks}}</div>
        <div class="">
            {% if request.user == account %}
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Manage
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'manage_works' %}">Works</a></li>
                  <li><a class="dropdown-item" href="#">Art Work</a></li>
                  <li><a class="dropdown-item" href="#">Advertisement</a></li>
                </ul>
              </div>
            {% else %}
            <a class="mx-1" href="mailto:{{account.email}}">
                <button class="btn btn-primary shadow">Contact</button>
            </a>
            {% endif %}
        </div>
        <hr style="background-color: black">
    </div>
    <div class="row g-4">
        {% for work in works %}
        <div class="col-6 col-lg-4">
            {% include 'includes/work_card.html' %}
        </div>
        {% endfor %}

        {% include 'includes/pagination.html' with page_obj=works %}
    </div>
</div>
{% endblock %}