{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center py-3">
        <h2 class="flex-grow-1 fw-bold">My Articles</h2>
        <div><button class="btn btn-primary">Create <i class="fa fa-plus ms-1"></i></button></div>
    </div>
    <div class="row g-4">
        {% for work in works %}
        <div class="col-6 col-md-4">
            <a class="manage-link" href="{% url 'manage_article_detail' work.pk %}">
            <div class="card shadow border-0 manage-detail">
                <img src="{{work.get_preview_image.image.url}}" class="img-fluid" alt="">
                <div class="card-body">
                <h5 class="text-center card-title pt-2 mb-0">{{work.title}}</h5>
                <div class="text-muted text-center">Created {{work.created_at|date:"F Y" }}</div>
                <div class="mt-2">{{work.content|truncatechars_html:75|safe}}</div>
                </div>
            </div>
          
    

        </a>
        </div>
        {% endfor %}
    </div>
    {% include 'includes/pagination.html' with page_obj=works %}

</div>
{% endblock %}