{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
<link rel="stylesheet" href="{% static 'css/detect.css' %}">
{% endblock %}
{% block content %}

<div class="container pb-5">
    <div class="mb-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
    </div>
    <div class="row">

        <div class="col-12 col-md-8 mx-auto">
            <div id="artWorks" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for art in art_works %}
                    <div class="carousel-item {% if forloop.first %}active{%endif%}">
                        <img src="{{art.image.url}}" class="d-block w-100" alt="...">
                        <div class="text-center work fw-bold d-block mt-2 mb-4">
                            Art by {% include 'includes/artist_profile_pic.html' %}
                        </div>
                      </div>
                      
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#artWorks" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#artWorks" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                
              </div>
            <div class="text-center">
                <h3 class="">{{work.title}}{% if work.voice_file %}
                    <button class="play-sound" onclick="playAudio('{{work.voice_file.url}}')"><i class="fa fa-volume-up"></i></button>
                    {% endif %}</h3>
                    <h5 class="text-center"><span id="laugh-score" class="badge bg-purple">{{work.laugh_score}} Laughs</span></h5>
                <div class="work fw-bold d-flex align-items-center justify-content-center">
                    By {% include 'includes/writer_profile_pic.html' %}
                            <span class="dot mx-2 align-self-center"></span>
                    <div>{{work.created_at|date:"F Y" }}</div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-12 col-md-6 ms-auto">
            <div class="mt-4">{{work.content | safe}}</div>
        </div>
        <div class="col-12 col-md-3">
            <div class="sticky-top pt-5">
            {% include 'includes/ad.html' with ad_type='block' %}
            
        </div>
        </div>

    </div>

</div>
<input type="hidden" name="endpoint" value="{% url 'add_laugh_score' %}" id="laugh-endpoint">
<input type="hidden" name="work_pk" value="{{work.pk}}" id="work-pk">
<button id="video-start" onclick="startLaughAnalysis()" class="laugh-track shadow"><i id="video-icon" class="fa fa-video" style="color: white;"></i></button>
<button id="video-stop" style="display: none;" onclick="stopVideo()" class="laugh-track shadow"><i id="video-icon" class="fa fa-times" style="color: white;"></i></button>
<div style="display: none;" class="" id="video-view">
    <div style="position: relative;">
        <canvas width="320" height="240" id="overlay"></canvas>
        <video width="320" height="240" id="video"></video>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

    function playAudio(audio_file) {
        var audio = new Audio(audio_file)
        audio.play()
    }
    

</script>
<script src="{% static 'js/face-api.js' %}"></script>
<script src="{% static 'js/detect.js' %}"></script>
{% endblock %}
