{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row">

        <div class="col-12 col-md-8 mx-auto">
            <button onclick="playAudio">PLAY</button>
            <img src="{{work.art_work.image.url}}" width="100%" alt="" class="shadow">
            <div class="text-center">
                <h3 class="my-3">{{work.title}}</h3>
                <div class="work fw-bold d-flex align-items-center justify-content-center"><a class="work-link" href="">
                    <img class="shadow mx-2" style="border-radius: 50%;" width="40" height="40" src="{% static 'images/lampy.png' %}" alt="">{{work.writer.display_name}}</a><span class="dot mx-2 align-self-center"></span><div>{{work.created_at|date:"F Y" }}</div>
                </div>
            </div>
            <div class="mt-4">{{work.content | safe}}</div>
        </div>

    </div>

</div>
{% endblock %}
{% block js %}
<script>
    var audio = new Audio("{{work.voice_file.url}}")
    console.log(audio)
    function playAudio(){
        audio.play()
    }
</script>
{% endblock %}