@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap');

html{
    height: 100%;
}
body{
    font-family: 'Nunito', sans-serif;
}

.page-item>.page-link {
    background-color: transparent;
    color: #67278e;
}

.page-link:hover {
    background-color: #18191A;
    color: white;
    border-color: #18191A;
}


.page-item.active>.page-link {
    background-color: #67278e;
    color: white;
    border-color: #67278e;
}

.page-first {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #67278e;
}

.page-last {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #67278e;
}

.dot {
    height: 5px !important;
    width: 5px !important;
    background-color: #67278e;
    border-radius: 50%;
    display: inline-block;
}

.bg-purple {
    background-color: #b374da;
    color: white;
    border-radius: 5 !important;
}

.card {
    border-radius: 0;
}
.purple{
    color: #67278e;
}

.btn-primary {
    background-color: #67278e;
    color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #67278e;
}

.btn-primary:hover {
    background-color: #b374da;
    border-color: #b374da;
}

.btn-primary:active {
    background-color: #b374da;
    border-color: #b374da;
}
.btn-primary:focus{
    background-color: #b374da;
    border-color: #b374da;
    }

hr{
    opacity: 1;
    color: black;
}

.manage-link{
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
}
.manage-link:hover{
    color: #b374da;
}
.save-changes{
    position:fixed;
	width:75%;
	height:40px;
	bottom:20px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}
/* 

#67278e

*/