h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bolder;
}
.work{
    color: #596172;
    font-family: 'Nunito', sans-serif;
}
.work-link{
    color: #596172;
    text-decoration: none;
    transition: all 300ms ease;
}
.work-link:hover{
    color: #b374da;
}
