h1{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Sorts Mill Goudy', serif; */
    font-weight:bolder;
}
.work{
    color: #596172;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
.work-link{
    color: #596172;
    text-decoration: none;
    transition: all 300ms ease;
}
.work-link:hover{
    color: #b374da !important;
}
.play-sound{
    background: transparent;
    background-color: transparent;
    color: transparent;
    outline: none;
    border: none;
}
.fa-volume-up{
    background: transparent;
    color: #b374da;
    text-decoration: none;
    
}
.card-link{
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
}
.card-link:hover{
    color: #b374da;
}
.laugh-track{
    position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#67278e;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    border: none;
    transition: all 300ms ease;
    z-index: 10000;
}
.laugh-track:hover{
    background-color:#b374da;
}

.card-title{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Sorts Mill Goudy', serif; */
    font-weight: bold;
}
.card-text{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Sorts Mill Goudy', serif; */
    color: #596172;
}

.info-text{
    font-size: 18px;
}

