<div class="offcanvas offcanvas-start" tabindex="-1" id="sideNav" aria-labelledby="sideNavLabel">
    <div class="offcanvas-body">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset ms-auto mb-0" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <a class="nav-link mb-2" href="{% url 'index' %}">Home</a>
            <a class="nav-link mb-2" href="{% url 'works' %}">About</a>
            <a class="nav-link mb-2" href="{% url 'works' %}">Read</a>
            <a class="nav-link mb-2" href="{% url 'works' %}">Comp</a>
            <a class="nav-link mb-2" href="{% url 'works' %}">Masthead</a>
            <a class="nav-link mb-2" href="{% url 'works' %}">Contact</a>
            <a class="nav-link mb-2" href="https://opensea.io/collection/samburgers">NFTs</a>
            <a class="nav-link mb-2" href="">Lottery</a>
            {% if request.user.is_authenticated %}
            <a class="nav-link mb-2" href="{% url 'account_detail' request.user.url_username %}">My Profile</a>
            <a class="nav-link mb-2" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-link mb-2" href="{% url 'login' %}">Login</a>
            {% endif %}
            <div class="mx-auto">
                <a class="social-button me-3" href="https://www.facebook.com/theharvardlampoon/"><i class="fa fa-facebook social-icon"></i></a>
                <a class="social-button mx-3" href="https://twitter.com/harvardlampoon"><i class="fa fa-twitter social-icon"></i></a>
                <a class="social-button mx-3" href="https://www.instagram.com/harvardlampoon/"><i class="fa fa-instagram social-icon"></i></a>
            </div>
        </div>
    </div>
</div>