{% load static %}
<a class="card-link" href="{% url 'work_detail' work.pk %}">
    <div class="card shadow" style="border: none">

      <img src="{{work.get_preview_image.image.url}}" class="card-img-top" alt="...">
      
      <div class="card-body">
        <h5 class="card-title text-center">{{work.title}} <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{work.laugh_score}} Laughs" class="badge bg-purple">{{work.laugh_score}}</span></h5>
        <div class="work fw-bold d-flex align-items-center justify-content-center">
          
          {% include 'includes/writer_profile_pic.html' %}

    <span class="dot mx-2 align-self-center"></span>
      <div>{{work.created_at|date:"F Y" }}</div>
  </div>
  {% spaceless %}
        <p class="card-text">{{work.content|slice:75|safe}}...</p>
        {% endspaceless %}
      </div>
    </div>
  </a>