{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/misc.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="mb-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <h1 class="text-center">Comp</h1>
            <p>Comps for Literature, Art, Tech, and Business are held each semester and are limited to the undergraduate students of Harvard University. No academic Seniors.&nbsp;</p>
        <p>The Fall 2021 Semester Comp begins <strong>Sunday, September 12th</strong>, with office hours at 44 Bow Street starting at <strong>8pm.&nbsp;</strong></p>
        <p>Interested in Comping? Fill out this form: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfIlfZP9fNUjVuA81syiWojbRlQM4DEqWgpYdghCee2Z3sfPQ/viewform">https://forms.gle/kgbj76ceKfueSF566</a></span></p>
        <p>&nbsp;</p>
        <p>Direct general inquiries to <a href="mailto:info@harvardlampoon.com"><strong>info@harvardlampoon.com</strong></a></p>
        <p>Questions about…</p>
        <p>Comping Business? Email<strong> businessmanager@harvardlampoon.com</strong></p>
        <p>Information on the Business Comp can be found <span><a href="https://drive.google.com/file/d/1Fj23o3oHdh2_CglJV5dbgJ3TSkoQqr1L/view?usp=sharing">here</a>.</span></p>
        <p>Comping Tech? Email <strong>tech@harvardlampoon.com</strong></p>
        <p>Information on the Technical Comp can be found <span><a href="https://drive.google.com/file/d/1aD3Ql_Mnxj0jVHjtlOQ2Sghx_c2S_Vsd/view?usp=sharing">here</a>.</span></p>
        <p>Comping Literature? Email<strong> delgado@harvardlampoon.com</strong></p>
        <p>Information on the Literature Comp can be found <span><a href="https://drive.google.com/file/d/1s1lzdyEPRF5UYMk_sBuxnmoIsjNU8otF/view?usp=sharing">here</a>.</span></p>
        <p>Comping Art? Email <strong>jo@harvardlampoon.com</strong></p>
        <p>Information on the Art Comp can be found <a href="https://drive.google.com/file/d/1uyHBMi2RS2YHw1er40KH7HfNvRELRHOU/view?usp=sharing">here</a>.</span></p>
        

        </div>
    </div>

</div>

{% endblock %}