{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">

{% endblock %}
{% block content %}

    <div class="container-fluid px-4">
        <div class="text-center mb-4">
            <img class="mx-auto img-fluid" src="{% static 'images/american_eagle.jpg' %}" alt="">
        </div>
        <div class="row">
            <div class="col order-1 order-lg-0">
                {% for work in featured_works %}
                {% include 'index/work1_card.html' %}
                {% endfor %}
            </div>
            <div class="col-lg-5 text-center order-0 order-lg-1">
                {% include 'index/magazine.html' %}
            </div>
            <div class="col order-2 order-lg-2">
                {% for work in works %}
                <div class="mb-3">
                {% include 'index/work2_card.html' %}
                {% if forloop.counter == 2 %}
                <img class="img-fluid shadow mt-3" src="{% static 'images/american_eagle.jpg' %}" alt="">
                {% endif %}
            </div>
                {% endfor %}
            </div>
  
        </div>
        <div class="text-center mb-4">
            <img class="mx-auto img-fluid" src="{% static 'images/american_eagle.jpg' %}" alt="">
        </div>
    </div>


{% endblock %}