{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}

    <div class="container-fluid px-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
        <div class="row pt-4">
            <div class="col order-1 order-lg-0">
                {% for work in featured_works %}
                {% include 'index/work1_card.html' %}
                {% endfor %}
            </div>
            <div class="col-lg-5 text-center order-0 order-lg-1">
                {% include 'index/magazine.html' %}
            </div>
            <div class="col order-2 order-lg-2">
                {% for work in works %}
                <div class="mb-3">
                {% include 'index/work2_card.html' %}
                {% if forloop.counter == 2 %}
                <div class="pt-3">
                {% include 'includes/ad.html' with ad_type='banner' %}
                </div>
                {% endif %}
                </div>
                {% endfor %}
            </div>
  
        </div>
        <div class="mb-4">
            {% include 'includes/ad.html' with ad_type='banner' %}
        </div>
    </div>
    <div class="subscribe-bg text-center py-3">
            <div class="col-4 mx-auto">
                <h3>Subscribe to the Harvard Lampoon</h3>
                <div>Get the latest pieces delivered right to your door.</div>
                <form target="_blank" action="https://checkout.subscriptiongenius.com/harvardlampoon.com/" method="POST">
                    <input class="form-control sub-input my-2 text-center" type="text" placeholder="Enter your email address" name="" id="">
                    <button class="btn btn-primary shadow">Submit</button>
                </form>
             
            </div>
    </div>
    <div class="container">
        <div class="row g-3 my-3">
            {% if users %}
            {% for user in users %}
            <div class="col-12 col-md-4">
                {% include 'includes/user_card.html' with obj=user %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}