{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">

{% endblock %}
{% block content %}

    <div class="container-fluid px-4">
        <div class="text-center mb-4">
            <img class="mx-auto img-fluid" src="{% static 'images/american_eagle.jpg' %}" alt="">
        </div>
        <div class="row">
            <div class="col order-1 order-lg-0">
                {% for work in featured_works %}
                {% include 'index/work1_card.html' %}
                {% endfor %}
            </div>
            <div class="col-lg-5 text-center order-0 order-lg-1">
                <a class="card-link" href="{% url 'magazine_detail' magazine.pk %}">
                <div class="shadow mb-4">
                <img src="{{magazine.cover_image.image.url}}" class="magazine-index-image" alt="">

                <div class="d-flex align-items-center justify-content-center mb-1 mt-2">
                    <h2 class="card-title text-center mb-0">{{magazine.title}}</h2>
                    <h5 class="mb-1"><div data-bs-toggle="tooltip" data-bs-placement="top" title="{{magazine.get_total_laughs}} Total Laughs" class="badge bg-purple ms-2">{{magazine.get_total_laughs}}</div></h5>
                </div>
                
                <div class="card-text mb-4 pb-3">{{magazine.description|truncatechars_html:200|safe}}</div>
                </div>
            </a>
            </div>
            <div class="col order-2 order-lg-2">
                {% for work in works %}
                <div class="mb-3">
                {% include 'index/work2_card.html' %}
                {% if forloop.counter == 2 %}
                <img class="img-fluid shadow mt-3" src="{% static 'images/american_eagle.jpg' %}" alt="">
                {% endif %}
            </div>
                {% endfor %}
            </div>
  
        </div>

    </div>


{% endblock %}