{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="mb-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
    </div>
    <h1 class="text-center">Masthead</h1>
    <p class="has-text-align-center has-text-color" style="color:#596172"> <strong style="color: black">BOARD OF EDITORS</strong> <br>
        Maxwell A. Gay ’21-’22,&nbsp;<i>President</i> <br>Josephine S. Roberts ’22,&nbsp;<i>Ibis</i> <br> Adiya A.
    Abdilkhay ’22,&nbsp;<i>Narthex</i><br><br>J.T. Ball ’20-’22 <br>L. R. Kiam ’21-’22<br>F. S.
        Shannel ’21-’22<br>P. K. Stoller ’21-’22<br>G. P. Lifrieri ’21-’22<br>G. Y. Shi
        ’22<br>J. P. Wolfe ’22<br>J. R. Delgado ’22-’23<br>E. B. Chenevey ’22-’23<br>Y. M. Chamieh ’21-’22<br>S. K. Lam
        ’23<br>M. A. Vassallo ’23-’24<br> G. P. C. Pasco ’22 <br>C. L. Carson ’23<br> W. Dey ’23 <br> V. Gong
    ’23<br> D. J. Hacker ’23 <br> E. A. Halm ’23-24 <br> F. O. Deemer ’24<br> O. M. Adler ’24 <br><br>Veronica I.
        Nutting ’21-’22,&nbsp;<i>Blot</i>,&nbsp;<i>Sanctum</i> <br> Elie P.
    Salem ’24,&nbsp;<i>Sanctum</i> <br> J. Thomas Kain ’24,&nbsp;<i>Hautbois</i><br>Nicholas G. Hutchison ’23,
    <em>Sackbut</em><br>Andrew A. Danoff ’23-’24, <em>Sackbut</em> <br>James E. Caven ’21-’22,&nbsp;<i>Librarian</i> <br>Amelia M.
    Cossentino ’23, <em>Nave</em><br>Ria Dhull ’23, <em>Scribe</em> <br> Eileen A. Tucci ’24, <em>Scribe</em><br>
    Nicholas S. Grundlingh ’20-’21,&nbsp;<i>Vanitas</i> <br> <br> <strong style="color: black">BUSINESS BOARD</strong><br>Adam S. Levin
    ’22-’23,&nbsp;<i>Treasurer</i><br> Lucas E. Graciano ’21-’22,&nbsp;<i>Treasurer</i><br>Kate N. Rachesky ’22,
    <em>Treasurer<br></em> Eli T. Laufer ’23,&nbsp;<i>Business Manager</i> <br> Ishaan Prasad ’22-’23,&nbsp;<i>Digital
        Strategy Manager</i> <br> Benjamin G. Stern ’22-’23,&nbsp;<i>Advertising Manager</i> <br> Nicholas G. Jaeger
    ’21-’22,&nbsp;<i>Technician</i><br>Montague ’21, <em>Technician</em><br>John L. Nugent ’21-’22, <em>Technician</em> <br> Lauren W. Lee
    ’22-’23,&nbsp;<i>Circulation Manager</i> <br> <br>Dash P. D. Wasserstein ’22-’23<br>S. M. A. Vik ’22-’23<br> B. L.
    Weber ’21 <br> G. F. R. Taubman ’24<br><br>Elmer W. Green, 1897-1977,&nbsp;<em>Grand Curator</em></p>
</div>

{% endblock %}

