{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="mb-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
    </div>
    <h1 class="text-center">Masthead</h1>
    <pre class="masthead">
<span id="masthead-title">Board of Editors</span>
Maxwell A. Gay ’21-’22, President 
Josephine S. Roberts ’22, Ibis 
Adiya A. Abdilkhay ’22, Narthex
        
J.T. Ball ’20-’22 
L. R. Kiam ’21-’22 
F. S. Shannel ’21-’22
P. K. Stoller ’21-’22
G. P. Lifrieri ’21-’22 
G. Y. Shi ’22 
J. P. Wolfe ’22
J. L. Nugent ’21-22
Y. M. Chamieh ’21-’22 
J. R. Delgado ’22-’23
E. B. Chenevey ’22-’23
S. K. Lam ’23
B. G. Stern ’22-’23
M. A. Vassallo ’23-’24
G. P. C. Pasco ’22 
C. L. Carson ’22-’23
W. Dey ’23 
V. Gong ’23
D. J. Hacker ’23 
E. A. Halm ’23-24 
F. O. Deemer ’24
O. M. Adler ’24
E. Biswas ’24
S. A. Bokil ’24
J. G. Brady ’25
M. M. F. Dowd ’25
S. B. Suchin ’25

Veronica I. Nutting ’21-’22, Blot 
Mark F. Pekala ’23-’24, Sanctum 
Elie P. Salem ’24, Sanctum 
J. Thomas Kain ’24, Hautbois
S. M. A. Vik ’22-23, Hautbois
Nicholas G. Hutchison ’23, Sackbut
Andrew A. Danoff ’23-’24, Sackbut 
James E. Caven ’21-’22, Librarian 
Amelia M. Cossentino ’23, Nave
Ria Dhull ’23, Scribe 
Eileen A. Tucci ’24, Scribe
Nicholas S. Grundlingh ’20-’21, Vanitas 
        
<span id="masthead-title">Business Board</span>
Adam S. Levin ’22-’23, Treasurer
Lucas E. Graciano ’21-’22, Treasurer
Kate N. Rachesky ’22, Treasurer
Eli T. Laufer ’23, Business Manager 
Ishaan Prasad ’22-’23, Digital Strategy Manager 
Ghislaine F. R. Taubman ’24, Advertising Manager 
Nicholas G. Jaeger ’21-’22, Technician
Montague ’21, Technician
Lauren W. Lee ’22-’23, Circulation Manager 
        
B. L. Weber ’21
I. Lenzo’ 22-23
R. S. Wachen ’24
W. Upstill ’25
        
Elmer W. Green, 1897-1977, Grand Curator
    </pre>
</div>

{% endblock %}